<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/agency.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">



    <style>
        body {
            background-color: #FEFAF9!important;
        }
        header.masthead {
            text-align: center;
            color: white;
            background: url("static/main_app/imgs/big-leaf-green-growth-1365772.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }

        button a:hover {
            text-decoration: none;
        }

    </style>

    <title>PlantFam</title>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #F08080; padding: 0">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">PlantFam</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="col-5">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/products">What's new</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/products">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/products">Favs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4"></div>
                <div class="3">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        {% if request.session.user_id %}
                        <ul class="navbar-nav text-uppercase ml-auto">
                            <li class="nav-item" style="display: inline">
                                <a class="nav-link js-scroll-trigger" href="#">Hi, {{ current_user.first_name}}!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/view_account/{{request.session.user_id}}"><i class="far fa-user" id="nav-icon"></i></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/login"><i class="far fa-user" id="nav-icon"></i></a>
                            </li>
                            {% endif %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/cart"><i class="fas fa-shopping-basket" id="nav-icon"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="padding: 0 15px; margin-top: 150px; text-align: center">
        <h1 class="page__title" style="font-size: 50px; font-family: Roboto">Account Created</h1>
    </div>

    
    <div class="container">        

        <div class="col" style="margin: 0 auto; text-align: center">
            <section class="login-form">

                <p>Welcome to the PlantFam!</p>
                <p>Your account was created with the email address: {{email}}</p>
        
                <div class="button-wrapper" style="text-align: center">
                    <button><a href="/" style="color: white">CONTINUE</a></button>
                </div>


            </section>
        </div>
    </div>
    




    <footer class="footer">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © Your Website 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </footer>






    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main_app/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main_app/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'main_app/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'main_app/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'main_app/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'main_app/js/agency.min.js' %}"></script>
    <script src="{% static 'main_app/js/agency.js' %}"></script>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

</body>
</html>